@import '../../../../../styles.scss';



.view {
    overflow: hidden !important;

    .header {
        display: flex;
        justify-content: space-between;
        background-color: $primary_color; // Optional: adds a background color to the heading
        height: 30px;

        h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white_color; // Text color
                font-size: 12px; // Text size
                font-weight: bold; // Bold text
                font-family: "Lucida Grande", Lucida, Verdana, sans-serif !important;
                padding-left: 25px;
                position: sticky;
                top: 0;
                z-index: 1;
                margin: 0;
        
            }
        mat-icon {
            padding-top: 3px;
            cursor: pointer;
            font-size: 24px;
            color: $white_color;

            &:hover {
                color: red;
            }
        }

        }
    
    
        .content {
            padding: 20px;
            overflow-y: auto !important;
            max-height: 330px !important; // Adjusted height to account for the heading and actions
            p {
                font-size: 12px; // Text size
                font-family: "Lucida Grande", Lucida, Verdana, sans-serif !important;
                color: black;
    
                strong {
                    color: $primary_color; // Text color
                }
            }
        }
}