<h1 class="heading">Grants Management System</h1>
<form [formGroup]="loginForm" class="example-form" (ngSubmit)="proceedLogin()">
  <mat-card>
    <mat-card-header>
      <h2>Login</h2>
    </mat-card-header>
    <div class="loginerror"><mat-error>{{loginError()}}</mat-error></div>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input (blur)="updateErrorMessage()" (input)="updateErrorMessage()" formControlName="username" matInput
          placeholder="Username" name="username">
        <!-- <span *ngIf="username.invalid && username.touched" style="color: red; font-size: small;">Username is required</span> -->
        @if (loginForm.controls['username'].invalid) {
        <mat-error>{{errorUserNameMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input (blur)="updateErrorMessage()" (input)="updateErrorMessage()" formControlName="password" required matInput
          placeholder="Password" name="password" type="password">
        <!-- <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        Password is required
                      </mat-error> -->
        @if (loginForm.controls['password'].invalid) {
        <mat-error>{{errorPasswordMessage()}}</mat-error>
        }
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="loginForm.invalid" type="submit" mat-raised-button class="primary_color">Login</button>
      <!-- <button type="submit" mat-raised-button color="primary" [disabled]="loginform.invalid" >Login</button> -->
      <button type="reset" mat-raised-button class="primary_color">Reset</button>
    </mat-card-actions>
  </mat-card>
</form>