<div class="state-container">
<mat-toolbar>
    <button (click)="showDropIcon()" class="button-home" [matMenuTriggerFor]="menu">
        <div class="button-label"><span>home</span><mat-icon>keyboard_arrow_down</mat-icon></div>
    </button>
</mat-toolbar>
<!-- @if (showDrop) {
<div class="drop-up">
    <mat-icon>arrow_drop_up</mat-icon>
</div>
} -->
<br>
<mat-toolbar class="state-bar">
    @for (item of history; track $index) {
    @if (history.length-2 == $index) {
    <div class="state-bar-text">
        <a class="nav-underline" (click)="navitageTo(item)">{{item}}</a>
    </div>
    }@else {
    <div class="state-bar-text">
        <a>{{item}}</a>
    </div>
    }
    
    }
  </mat-toolbar>
<mat-menu #menu="matMenu">
    <div class="navlist">
    @for (item of navListItems; track $index) {
        <a class="item-button" (click)="navitageTo(item.route)">{{item.label}}</a>
    }
    </div>
</mat-menu>
</div>
