@import '../../../../styles.scss';

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: $button_color !important;
    height: 28px;
    color: $white_color !important;
}

.button-home {
    background-color: transparent;
    height: 28px;
    border: none;
    color: white;
    &:hover{
        cursor: pointer;
    }
}

.button-label {
    display: flex;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
}

.item-button {
    color: $white_color !important;
    font-weight: lighter !important;
    margin: 10px 6px 6px 10px;

    &:hover { /* Corrected selector for hover */
        cursor: pointer;
        color: $white_color !important;
        font-weight: bolder !important;
        margin: 10px 6px 6px 10px;
    }
}


.drop-up {
    position: relative;
    left: 15px;
    bottom: 14px;
    color: $white_color;
}


.navlist {
    display: flex;
    flex-direction: column;
}

.state-container{
display: flex;
align-items: center;
flex-direction: column;
}

.state-bar{
    padding: 6px 8px 0px 5px;
    list-style: none;
    background-color: #eeeeee !important;
    border-radius: 5px;
    border: 1px solid  #EAEAEC !important;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif !important;
    width: 80% !important;
    height: 20px !important;
    margin: 0 !important;
    box-sizing: unset !important;
    color: black !important;
}
.state-bar-text{
    display: inline;
    font-size: 12px;
    font-weight: normal !important;
}

.state-bar-text::after {
    content: "\00BB";
    font-size: 12px;
    color: black;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif !important;
    padding: 0 3px 0 3px;
}