@import '../../../../styles.scss';

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: $button_color !important;
    height: 28px;
    color: $white_color !important;
}

.button-home {
    background-color: transparent;
    height: 28px;
    border: none;
    color: white;
    // position: relative;
    // top: 15px;
}

.button-label {
    display: flex;
    align-items: center;
}

.item-button {
    color: $white_color !important;
    font-weight: lighter !important;
    margin: 10px 6px 6px 10px;

    &:hover { /* Corrected selector for hover */
        color: $white_color !important;
        font-weight: bolder !important;
        margin: 10px 6px 6px 10px;
    }
}


.drop-up {
    position: relative;
    left: 15px;
    bottom: 14px;
    color: $white_color;
}


.navlist {
    display: flex;
    flex-direction: column;
}