@import '../../../../../../styles.scss';

p {
    color: black;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif !important;
    font-size: 12px !important; // Text size

    strong {
        color: $primary_color !important; // Text color
        font-family: "Lucida Grande", Lucida, Verdana, sans-serif !important;
        font-size: 12px !important; // Text size
    }
}

button {
    @include button-css
}

.custom-title {

    font-weight: bold !important; // Bold text
    font-size: 14px !important; // Text size


}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $primary_color;
    height: 38px;
    align-items: center;

    h6 {
        color: $white_color !important; // Text color
        font-size: 14px !important; // Text size
        font-weight: bold; // Bold text
        font-family: "Lucida Grande", Lucida, Verdana, sans-serif !important;
        padding-left: 25px;
        
    }


        mat-icon {
            padding-right: 17px;
            cursor: pointer;
            font-size: 24px;
            color: $white_color;

            &:hover {
                color: red;
            }
    }
}