// /* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #e6e6fa;
  height: 100%;
}

body {
  margin: 0;
  font-family: ARIAL, Verdana, TAHOMA, TIMES NEW ROMAN !important;
}
$primary_color: #04345C;
$button_color: #364E6D;
$white_color : white;
$navlist_bg: #00345b;

.primary_color {
  background-color: $button_color !important;
  color: $white_color !important;
  }
  
  .mat-mdc-menu-panel {
    background-color: $navlist_bg !important;
    min-width: 234px !important;
    border-radius: 0 0 6px 6px !important;
  }
  
  
  .mat-mdc-menu-content,
  .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  
    font-size: 14px !important;
    font-family: ARIAL, Verdana, TAHOMA, TIMES NEW ROMAN !important;
}

