// /* You can add global styles to this file, and also import other style files */
$primary_color: #04345C;
$button_color: #364E6D;

.primary_color {
  background-color: $button_color !important;
  color: white !important;
}

