@import '../../../../../styles.scss';
.parent {
    border: 1px solid #ccc;
    margin: 0px 185px 0px 181px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

    .childresults {
        flex: 0 0 100%; // 60% of the parent's width
        background-color: #ffffff; // Slightly darker background color
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        transition: all 0.3s ease; // Smooth transitions for resizing
        margin-top: 20px;
        margin-bottom: 60px;
        position: relative;

        .title-search {
            height: 30px; // Fixed height for the title
            background: linear-gradient(90deg, #aca9a9, #aca9a9); // Gray-whitish gradient
            display: flex;
            padding: 2px 2px 2px 2px; // Space from the left
            color: #333; // Text color
            font-size: 16px; // Text size
            font-weight: bold; // Bold text
            border-bottom: 1px solid #ccc; // Optional: Divider below the title
            .state-heading{
                display: inline !important;
                font-size: 14px !important;
                font-weight: bold !important;
                position: relative;
                top:5px;
                left:10px;
                font-family: "Lucida Grande", Lucida, Verdana, sans-serif !important;
            }
        }

    }

    // Media query for smaller screens (e.g., tablets and mobile devices)
    @media screen and (max-width: 768px) {
        flex-direction: column; // Stack children vertically
        height: auto; // Allow height to adjust based on content

        .childseach,
        .childresults {
            flex: 0 0 auto; // Children take up automatic height
            width: 100%; // Full width for each child
            border-right: none; // Remove the divider between rows
            border-bottom: 2px solid #ccc; // Add bottom divider
        }

        .childresults {
            border-bottom: none; // Remove bottom border for the last child
        }
    }
}